
/*.albert-sans-<uniquifier> {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

:root {
    --cor-fonts-menu:#475467 ;
    --font-principal:"Albert Sans", sans-serif; ;
}

body{
    background: linear-gradient(to right, #E9EDF4, #D3DCEA);
    margin: 50px 50px 0px 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-logo{
    display: flex;
}

.container-logo p{
    font-family: var(--font-principal);
    font-weight: bold;
    font-size: 25px
}
.nome p{
    color: #000000;
}

.sufixo {
    color: #667085;
}

ul {
    background-color: #ffffff;
    align-items: center;
    height: 60px;
    width: 450px;
    padding: 0;
    border-radius: 50px;
   
}
.container-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 180px;
    height: 60px;
    border-radius: 50px;
    background: #000000;
    box-shadow: 0 4px 12px rgb(187, 187, 187);
}

.container-contato img{
    width: 35px;
    height: 35px;

}
.button-contato{
    color: #ffffff;
   
}
nav a{
    text-decoration: none;
    font-family:var(--font-principal);
    font-weight: bold;
    color: var(--cor-fonts-menu);  
    font-size: 20px;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    gap: 50px;
    box-shadow: 0 4px 12px rgb(187, 187, 187);
   

}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-principal);


}

.container_imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
}

.imagem_perfil{
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem_perfil img{
    width: 95%;
    height: 95%;
    border-radius: 50%;
    object-fit: cover;
}

.Conteiner_informa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.container_nome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    

}
.Conteiner_informa p {
    display: flex;
    justify-content: center;
    width: 120px;
    border-radius: 50px;
    background-color: #ffffff;
}

main h2{
    margin: auto;
    font-weight: 900;
    font-size: 50px;
}

.informa_texto{
    display:flex ;
    gap: 10px;
}

.container_sobre{
    text-align: center;
    width: 200px;
    height: 200px
}

main a{
    text-decoration: none;
    font-family:var(--font-principal);
    font-weight: bold;
    color: var(--cor-fonts-menu);  
    font-size: 20px;
}